<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>


        <div class="notepad-blog-menu">
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
        {% for link in site.links %}
            {% assign icon = "" %}
            {% if link.icon %}
                {% capture icon %}<i class="fa fa-{{ link.icon }}"></i> {% endcapture %}
            {% endif %}

            <li>
                {% if link.external %}
                    <a href="{{ link.url }}">{{ icon }}{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ icon }}{{ link.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li>
            <a href="http://feeds.feedburner.com/MarmotzGithubIO" title="Flux RSS"><i class="fa fa-rss"></i> Flux RSS</a>
        </li>
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <span class="notepad-site-head-title-bg">
                {{ site.description }}
            </span>
        </h1>
        <h2 class="notepad-blog-description">{{ site.title }}</h2>
    </div>
</header>


<main class="notepad-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}
</body>
</html>
