<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="post-template page" itemscope itemtype="http://schema.org/WebPage">

<main id="notepad-page-container" class="notepad-page-container" role="main">


        <header class="notepad-page-header">
            <div class="notepad-page-menu-header">

                    <a class="notepad-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo">
                    </a>



                <div class="notepad-blog-menu">
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
        {% for link in site.links %}
            {% assign icon = "" %}
            {% if link.icon %}
                {% capture icon %}<i class="fa fa-{{ link.icon }}"></i> {% endcapture %}
            {% endif %}

            <li>
                {% if link.external %}
                    <a href="{{ link.url }}">{{ icon }}{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ icon }}{{ link.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li>
            <a href="http://feeds.feedburner.com/MarmotzGithubIO" title="Flux RSS"><i class="fa fa-rss"></i> Flux RSS</a>
        </li>
    </ul>
</div>
            </div>
            <div class="notepad-page-title row">
                <div class="small-12 columns">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </header>

<article class="notepad-page-content">
    <div>
        <h1>
            Archive des articles
            {% assign m = page.date | date: "%-m" %}
            {% case m %}
                {% when '1' %}de janvier
                {% when '2' %}de février
                {% when '3' %}de mars
                {% when '4' %}d'avril
                {% when '5' %}de mai
                {% when '6' %}de juin
                {% when '7' %}de juillet
                {% when '8' %}d'août
                {% when '9' %}de septembre
                {% when '10' %}d'octobre
                {% when '11' %}de novembre
                {% when '12' %}de décembre
            {% endcase %}
            {{ page.date | date: "%Y" }}
        </h1>

        <ul class="posts">
        {% for post in page.posts %}
            <li>
                <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
                -
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</article>
        <div class="cf"></div>
    {% include footer.html %}
</main>

{% include scripts.html %}
</body>
</html>
